<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css.css') }}" type="text/css">

    </head>
    <body>
        <header>
            <h1>Foro Symfony</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{{ path('ultimas_publicaciones') }}">Inicio</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>
        <main>
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}

        <footer>
            <p>Copiright</p>
            <a href=""><img src="" alt=""></a>
        </footer>
    </body>
</html>
