{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>P치gina no encontrada</h1>

    <p>
        La p치gina a la que quieres ir no ha sido encontrada o no existe, vuelve a la p치gina principal <a href="{{ path('ultimas_publicaciones') }}">P치gina principal</a>.
    </p>
{% endblock %}